
{% extends 'base.html.twig' %}

{% block title %}Edit your List{% endblock %}

{% block body %}
<div class="container w-50 border mt-3">
    <h1>Edit  List</h1>

    {{ include('lists/newlistform.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-secondary" href="{{ path('lists_index', {'id': app.user.id}) }}"> Back </a>

</div>
{% endblock %}