
{% extends 'base.html.twig' %}

{% block title %}Create a List{% endblock %}

{% block body %}
<div class="container w-50 border mt-3">
    <h1>Create a new List</h1>

    {{ include('lists/newlistform.html.twig') }}

</div>
{% endblock %}