    {% extends 'base.html.twig' %}
    {% block title %}Question/Answer App{% endblock %}
    {% block body %}
       <div class="row">
           <div class="col-10 offset-1">
               <div class="card mb-3">
                   <div class="card-body bg-light">
                               
                       </div>
                   </div>
               </div>
           </div>
       </div>
    {% endblock %}